.button {
	padding: 0.8rem 2rem;
	border: 2px solid #000000;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
	font-weight: bold;
	margin-right: 1rem;
}

.button:last-child {
	margin-right: 0;
}

/* .button:hover {
	opacity: 0.7;
}

.button.active {
	background: #5a239a;
	color: #fff;
} */

.button.active {
	box-sizing: border-box;
-webkit-appearance: none;
   -moz-appearance: none;
	  appearance: none;
background-color: transparent;
border: 2px solid #e74c3c;
cursor: pointer;
font-size: 0.550em;
line-height: 1;
margin: 15px;
padding: 22px 30px;
text-decoration: none;
text-align: center;
text-transform: uppercase;
border-color: #47c9dd;
color: #fff;
box-shadow: 0 0 40px 40px #7c1ec3 inset, 0 0 0 0 #3623c6;
-webkit-transition: all 150ms ease-in-out;
transition: all 150ms ease-in-out;
}
.button:hover {
    color: #311175;
box-shadow: 0 0 10px 0 #311175 inset, 0 0 10px 4px #311175;
}
.button:hover, .button:focus {
outline: 0;
}